@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
h2{
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 30px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
    display: inline;
}
.anasayfa{
    position: absolute;
    top: 3%;
    left: 7%;
}
.covidbilgisiekle{
    position: absolute;
    top: 35%;
    left: 42%;
}
.covidbilgisiguncelle{
    position: absolute;
    top: 50%;
    left: 42%;
}
.fas{
    color: #edf0f1;
    font-size: 50px;
}
.firsticon{
    position: absolute;
    top: 34%;
    left: 39%;
}
.secondicon{
    position: absolute;
    top: 49%;
    left: 39%;
}
.ciftgeri{
    position: absolute;
    top: 2%;
    left: 3%;
}