@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 100px 3%;
}

h2{
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

div.inputs {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.inputs label {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    text-align:right; 
}
div.inputs label:after {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    content: ":";
}

form
{
    color: #edf0f1;
    display: right;
    text-align: right;
}

button{
    padding: 9px 25px;
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.nav__links {
    list-style: none;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}
.ilkkisim{
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    grid-template-columns: max-content max-content;
}
.ilkkisim label:after{
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    content: ":";
}
.ikincikisim{
    position: absolute;
    top: 35%;
    left: 50%;
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.ikincikisim label:after{
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    content: ":";
    
}
.table table{
    position: absolute;
    top: 10%;
    left: 15%;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    width: 70%;
    background-color: rgba(0, 136, 169, 1);
    border-spacing: 0;
    text-align: center;
}
p.error {
    color: red;
    position: absolute;
    top: 23%;
    left: 37%;
    font-size: 24px;
}

p.success {
    color: green;
    position: absolute;
    top: 23%;
    left: 36%;
    font-size: 24px;
}
.guncelle button{
    position: absolute;
    top: 105%;
    left: 40%;
    font-size: 24px
}
.tekgeri{
    position: absolute;
    top: 2%;
    left: 18%;
}
.ciftgeri{
    position: absolute;
    top: 2%;
    left: 3%;

}
.anasayfa{
    position: absolute;
    top: 2%;
    left: 6%;
}
.geri{
    position: absolute;
    top: 2%;
    left: 20%;
} 

.fas{
    font-size: 35px;
    color: #edf0f1;
}
