@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body { 
    background-color: #24252A;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
}

h2{
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    width: 50%;
    position: absolute;
    top: 29%;
    left: 45%;
}

div.inputs {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.inputs label {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    text-align:right; 
}
div.inputs label:after {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    content: ":";
}

div.form
{
    color: #edf0f1;
    display: block;
    text-align: center;
}
form
{
    color: #edf0f1;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 45%;
    left: 42%;

}

form button {
    padding: 9px 25px;
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.nav__links {
    list-style: none;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}

p.error {
    color: red;
    position: absolute;
    top: 37%;
    left: 43%;
    font-size: 20px;
}

p.success {
    color: green;
    position: absolute;
    top: 37%;
    left: 45%;
    font-size: 20px;
}
.tekgeri{
    position: absolute;
    top: 2%;
    left: 18%;
}
.ciftgeri{
    position: absolute;
    top: 2%;
    left: 3%;

}
.anasayfa{
    position: absolute;
    top: 2%;
    left: 6%;
}
.geri{
    position: absolute;
    top: 2%;
    left: 20%;
} 

.fas{
    font-size: 35px;
    color: #edf0f1;
}





